<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Release Notes"
            class="releasenotes.preferences.ReleaseNotePreferencePage"
            id="releasenotes.preferences.ReleaseNotePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="releasenotes.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Release Notes"
            id="ReleaseNotes">
      </category>
      <view
            name="Release Notes"
            icon="icons/releasenotes.gif"
            category="ReleaseNotes"
            class="releasenotes.views.ReleaseNotesView"
            id="releasenotes.views.ReleaseNotesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="releasenotes.views.ReleaseNotesView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
